<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>messanger - chats</title>
</head>
<body>
    <style>
        #main {
            margin-left: auto;
            margin-right: auto;
            height: 600px;
            min-height: 200px;
            background-color: #dcdcdc;
            min-width: 50px;
            max-width: 400px;
            border-radius: 5%;
            overflow: auto;
        }   
        .logo {
            border-radius: 5%;
            height: 10%;
            background-color: #04AA6D;
            color: rgb(255, 255, 255);
        } 
    </style>
    <div id="main">
        <div class="logo">
            {% block logo %}
                <h2>PythonMessanger</h2>
            {% endblock %}
        </div>
        {% block content %}
        
        {% endblock %}
        {% block navbar %}
        {% endblock %}

    </div>
</body>
</html>