{% extends "base.html" %}
{% block logo %}
    <h2 class="title">PythonMessanger</h2>
    <a href="add-contact"><img class="add_contact" src="https://icon-library.com/images/contact-icon/contact-icon-17.jpg"></a>
{% endblock %}
{% block content %}
    <style>
        #chat {
            background-color: rgb(251, 255, 0);
            height: 7%;
            margin-bottom: 8px;
            margin-top: 2px;
        }
        #chat:hover {
            cursor: pointer;
            background-color: rgb(255, 213, 0);
            color: black;
        }
        a:visited {
            color: cadetblue;
            text-decoration: none;
            font-size: 16pt;
        }
        a {
            color: cadetblue;
            text-decoration: none;
            font-size: 16pt;
        }
        .add_contact {
            height: 30px;
            width: auto;
        }
        .title {
            margin-bottom: 0;
        }
        label {
            color: black;
        }
        
    </style>
    {% for i in senders %}
        <a id="chat" href="{{ i }}/pv/">
            <div id="chat">
                {{ i }}
            </div>
        </a>
    {% endfor %}
{% endblock %}
